<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>solarPV - Clients</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'backend/style.css' %}"/>
  </head>
  <body>
    <div class="container">
      <h1>Clients</h1>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Client Name</th>
            <th>Client Type</th>
            <th>Actions</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for client in object_list %}
          <tr>
            <td>{{ client.client_name }}</td>
            <td>{{ client.client_type }}</td>
            <td><a class="btn btn-sm btn-success" href="{% url "client_view" client.client_id %}" role="button"><i class="fa fa-search"></i> View</a></td>
            <td><a class="btn btn-sm btn-warning" href="{% url "client_edit" client.client_id %}" role="button"><i class="fa fa-pencil"></i> Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="{% url "client_delete" client.client_id %}" role="button"><i class="fa fa-trash"></i> Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary" href="{% url "client_new" %}" role="button"><i class="fa fa-plus"></i> Add</a>
    </div>
  </body>
</html>
